# Project Overview
Jouta is daily Journaling and task managing mobile app that use voice and text to record your thoughts and tasks.

# Core Functionalities
- 2 main features is converting voice notes to text and converting text to be a daily journal or task in the calendar
- Reminder for to do the daily journal and reminder to do thetasks
- AI analysis of your notes and tasks
- Capsule notes for your thoughts and feelings that can be opened in set range of time
- Save the notes and tasks to the cloud so that user can access from different devices

# AI
- Use AssemblyAI for transcribing voice to text
# Start by making sure the `assemblyai` package is installed.
# If not, you can install it by running the following command:
# pip install -U assemblyai
#
# Note: Some macOS users may need to use `pip3` instead of `pip`.

import assemblyai as aai

# Replace with your API key
aai.settings.api_key = "c5546332564f451585a9398b44f75dd3"

# URL of the file to transcribe
FILE_URL = "https://assembly.ai/wildfires.mp3"

# You can also transcribe a local file by passing in a file path
# FILE_URL = './path/to/file.mp3'

transcriber = aai.Transcriber()
transcript = transcriber.transcribe(FILE_URL)

if transcript.status == aai.TranscriptStatus.error:
    print(transcript.error)
else:
    print(transcript.text)


- API key for groq for interpret from transcribed voice to text to journal/task using model mixtral-8x7b-32768

# User Flow
- user press 1 big button to start or stop the voice recording
- user can choose to save the voice recording as a journal or a task with a switch dial
- user can choose to save the journal or task to the cloud or not
- user can view the journal or task in the calendar
- user can edit the journal or task in the calendar
- user can delete the journal or task in the calendar
- user can share the journal or task with others

# Personality
- app is a stoic personality and always give user a positive and motivating message

# Tech Stack
- choose tech stack with super popular languages

# User Interface
- Use Apple glassmorphism with dark and black color

# .env variables

# Comments
- Use simple and clear explanation


#github push process
https://github.com/pwawiwa/Jouta-mobile-app.git